@{
    Layout = null;
}


<table class="table">
    <thead>
    <tr>

        <th>Listas de Reproduccion </th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.Nombre</td>
            <td>
                <a id="busk" href="/ListaReproduccion/DetalleDeLaLista?IdLista=@item.Id">Detalles</a>
            </td>


        </tr>
    }
    </tbody>
</table>